#appHeader{
	z-index:40
}
div.bar{
	z-index:35
}

/* BOOTSCREEN  */

/*Collage PLus*/
.Collage{
	z-index:1;
	padding:15px;

}

.Collage img{
	vertical-align:bottom;
	opacity:0;

}
/*Cover*/
.loader_cover{
	z-index:2;
	position:fixed;
	background-color:White;
	width:100%;
	height:100%;
}

.logo_holder img{
	z-index:3;
	position: fixed;
	left: 127px;
	width: 45%;
	height: 25%;
}

/*
	width: 48%;

*/
