<div class="loader_cover">
  <div class="logo_holder">
    <img src="js/app/content/images/logo.jpg"/>
  </div>
</div>

<div class="loader">
   <div class="Collage">
     <img src="js/app/content/images/People/1.jpeg"  width="100px" height="100px"/>
     <img src="js/app/content/images/People/2.jpg"   width="100px" height="100px"/>
     <img src="js/app/content/images/People/3.jpg"   width="100px" height="100px"/>
     <img src="js/app/content/images/People/4.jpg"   width="100px" height="50px"/>
     <img src="js/app/content/images/People/5.jpg"   width="100px" height="100px"/>
     <img src="js/app/content/images/People/6.jpg"   width="100px" height="100px"/>
     <img src="js/app/content/images/People/7.jpg"   width="100px" height="100px"/>
     <img src="js/app/content/images/People/8.jpg"   width="100px" height="100px"/>
     <img src="js/app/content/images/People/9.jpg"   width="100px" height="100px"/>
   </div>
</div>
